/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

body {
	font-family: Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #202030;
	background-color: transparent !important;
	background-image: url("images/oleksandra.png") !important;
}
	

.montserrat-sasha {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
	
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {

  background-image: linear-gradient( #BFD3DB,  #BBDBCB);
}


.resume-main {
	background-color: white;
		
	
}

.resume-aside {
	border-left: 2px solid #BBDBCB  ;
	background-color: transparent !important;
	background-image: url("../images/backgroundphoto.png");
		

}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.montecarlo-regular {
  font-family: "MonteCarlo", cursive;
  font-weight: 400;
  font-style: normal;
}

.biography-details li::before {
	color: #EE7623;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1 em;
}
.language-level { border-color: #BBDBCB !important;
	
}

.language-progress { 
	background-color: #BBDBCB !important ;
}

.name-style {color: #15311B;
text-shadow: 3px 3px white;}
  